[Unit]
Description=Deploy Service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=omarh
ExecStart=/~/it490/rabbitmqphp_example/deploy_handler.php

[Install]
WantedBy=multi-user.target
