[Unit]
Description=Install Service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=matt
ExecStart=/home/mattqa/project/rabbitmqphp_example/install_listener.php

[Install]
WantedBy=multi-user.target
